$color-warn: #f35959;

$color-main-bg: linear-gradient(90deg, #29323C 0%, #485563 100%);
$color-main-text: #fff;
$color-main-hl: #16D9E3;

$color-hint-text: #000;
$color-hint-bg: #445568;

$color-board-bg: #485563;
$color-circle-border: rgb(98, 175, 98);

$color-btn-border: #C0C0C0;
$color-btn-svg: #16D9E3;

$color-table-bg: rgb(65 77 90 / 100%);
$color-table-shadow: rgb(89 123 129);
$color-table-border: rgb(75 94 106);
$color-table-hl: rgb(122, 239, 255);

$color-sidebar-bg: rgb(200 188 128 / 97%);
$color-sidebar-text: #111;
$color-sidebar-border: #fff;
$color-sidebar-hover: #111;

$color-mask-bg: linear-gradient(90deg, #29323C 0%, #485563 100%);