@use "variables" as *;
@use "mixins";
@use "btn";

@use "blocks/firstscreen";
@use "blocks/settings";
@use "blocks/result";
@use "blocks/leaderboard";
@use "blocks/board";

@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

*,
*::before,
*::after { box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 { margin: 0;}

html { overflow: auto;}

body {
  color: $color-main-text;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

%screen {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: $color-main-bg;
}

.screen {
  @extend %screen;

  &.up {
    margin-top: -100vh;
    transition: margin 0.5s ease-out;
  }

  &.reset {
    transform: translateY(100vh);
    transition: transform 0.5s ease-out;
  }

  &__basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.column {
  position: relative;
  flex: 1 1 auto;
  height: 100%;

  &__left {
    width: 20%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 60%;
    max-width: 700px;
  }

  &__right {
    width: 20%;
  }
}

@media (max-width: 1450px) {
  .column {
    &__left {
      position: static;
      width: 0;
      flex-grow: 0;
    }

    &__center {
      width: 100%;
      max-width: none;
    }

    &__right {
      position: static;
      width: 0;
      flex-grow: 0;
    }
  }

  .screen__settings {
    .btn--records {
      position: absolute;
      right: 5vw;
      z-index: 999;
    }

    .leaderboard {
      top: 50%;
      transform: scale(1.2) translateY(-50%);
      z-index: 999;
    }

    .mask {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 998;

      display: flex;
      align-items: center;
      justify-content: center;

      background: $color-mask-bg;
      opacity: .97;

      &--disabled {
        display: none;
      }
    }
  }
}

@media (max-width: 775px) {
  html { font-size: 12px;}

  .btn--back { top: 17vh;}

  .settings .list {
    justify-content: space-evenly;

    & li { position: static;}
  }
}