@use "variables" as *;
@use "mixins";
@use "btn";
@use "result";
@use "leaderboard";


@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

*,
*::before,
*::after { box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 { margin: 0;}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}


/* First screen
************************* */
a {
  color: #fff;
  text-decoration: none;

  &:hover {color: $color-hover;}
}

.start { font-size: 1.5rem;}

h1 {
  line-height: 1.4;
  font-size: 4rem;
  margin-bottom: 40px;
}

.selection__title {
  line-height: 1.4;
  font-size: 3rem;
}


/* General classes
************************* */
%screen {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen {
  @extend %screen;

  &.up {
    margin-top: -100vh;
    transition: margin 0.5s ease-out;
  }

  &.reset {
    transform: translateY(100vh);
    transition: transform 0.5s ease-out;
  }

  &__basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.column {
  position: relative;
  flex: 1 1 auto;
  height: 100%;

  &__left {
    width: 20%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 60%;
    max-width: 700px;
  }

  &__right {
    width: 20%;
  }
}


/* Settings screen
************************* */
.screen__settings .leaderboard { display: none;}

.settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 400px;
  width: 100%;
  max-width: 650px;

  & .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    list-style: none;
    padding: 0;

    & li {
      margin: 10px;
      position: relative;
    }
  }
}


/* Board screen
************************** */
.timer__info {
  position: absolute;
  top: 4vh;
  margin-bottom: 20px;

  &.warn #time__seconds {
    display: inline-block;
    color: $color-warn;
    transform: scale(0);
    animation: pulse 1s ease infinite;
  }
}

.hide { opacity: 0;}

.primary { color: $color-text-hl;}

.board {
  @include mixins.styleBoard();
  width: 60%;

  &--result {
    @include mixins.styleBoard();
    width: 100%;

    & .final__score { font-size: 3.5rem;}
  }

  &.wait { font-size: 5rem;}
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;

  &.clicked {
    &::after {
      content: "";
      position: absolute;

      border: 2px solid rgb(98, 175, 98);
      border-radius: 50%;
      background-color: #333d49;

      animation: circleRemove .2s linear forwards;
    }
  }
}