@use "btn";
@use "variables" as *;
@use "mixins";

@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

*,
*::before,
*::after { box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 { margin: 0;}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}


/* =========First screen============== */
a {
  color: #fff;
  text-decoration: none;

  &:hover {color: $color-hover;}
}

.start { font-size: 1.5rem;}

h1 {
  line-height: 1.4;
  font-size: 4rem;
  margin-bottom: 40px;
}

.selection__title {
  line-height: 1.4;
  font-size: 3rem;
}

%screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen {
  @extend %screen;

  &.up {
    margin-top: -100vh;
    transition: margin 0.5s ease-out;
  }

  &.reset {
    transform: translateY(100vh);
    transition: transform 0.5s ease-out;
  }
}

.result {
  @extend %screen;
  display: none;
}


/* ===========Settings screen=========== */
.settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 400px;
  width: 55%;
  max-width: 650px;

  & .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    list-style: none;
    padding: 0;

    & li {
      margin: 10px;
      position: relative;
    }
  }
}


/* ===========Board screen============= */
.timer__info {
  position: absolute;
  top: 4vh;
  margin-bottom: 20px;

  &.warn #time__seconds {
    display: inline-block;
    color: $color-warn;
    transform: scale(0);
    animation: pulse 1s ease infinite;
  }
}

.result {
  &__info {
    @extend .timer__info;
    font-size: 3rem;
  }

  & .leaderboard {
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 100;
    width: 350px;

    &__title {
      margin-bottom: 20px;
    }

    & .game__settings {
      position: absolute;
      left: -28px;
      top: 83px;
      z-index: -100;

      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 1;
      padding: 10px;
      padding-left: 50px;
      background-color: $color-sidebar-bg;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      cursor: pointer;
      user-select: none;

      &.full { animation: openSidebar .5s ease forwards;}

      &.preview { animation: preview .2s linear forwards;}

      &.hide__sidebar { animation: hideSidebar .5s ease forwards;}

      & .settings__title {
        position: absolute;
        left: -34px;
        top: 0;
        bottom: 0;
        margin: auto;

        height: 20px;
        color: #111;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 300;

        transform-origin: center;
        transform: rotateZ(-90deg);
      }

      &--option {
        display: flex;
        flex-direction: column;

        margin-right: 10px;
        width: 80%;
      }
    }

    & table {
      width: 100%;
      margin-top: 20px;
      overflow: hidden;
      border-radius: 10px;

      background-color: $color-table-bg;
      box-shadow: 0px -50px 10000px $color-table-shadow;
    }

    & table,
    & td,
    & th {
      border: 2px solid $color-table-border;
      border-collapse: collapse;
    }

    & tr { height: 54px;}

    & tr td:first-child { width: 60px;}

    & .new__result {
      font-size: 1.4rem;
      color: $color-table-hl;
    }
  }
}

.hide {
  opacity: 0;
}

.primary { color: $color-text-hl;}

.board {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  height: 70%;
  max-width: 700px;

  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: inset 8px 8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;

  &--result {
    @extend .board;
    & .final__score {
      font-size: 3.5rem;
    }
  }

  &.wait { font-size: 5rem;}
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}